.freePricingCard,
.basicPricingCard,
.proPricingCard {
    background: wheat;
    margin: 1rem;
    border-radius: 10px;
    width: calc(33.33% - 2rem); /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.home-container02 {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
    flex-direction: row;
}

.buyButton {
    color: black;
    background: lightgreen;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-image {
    max-width: 380px; /* Ensure the image does not exceed its container's width */
    height: 400px; /* Set a fixed height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px 10px 0 0; /* Keep rounded corners, adjust as needed */
    margin: 10px;
}