.quantity-btn {
    width: 100%; /* Adjust the width to your preference */
    height: 100%; /* Adjust the height to your preference */
}

.body {
    display: flex;
}

.media-body {
    
    overflow-wrap: break-word;
    
}