<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home/aboutus.css" />
    <title>AboutUs</title>
</head>

<body>
    <div class="map-container">

        <div c="brand">
            <h1>Our products YOUR choice!</h1>
        </div>
        <div class="prg">
            <p >Discover a world of feline luxury with our premium cat products and exclusive subscription services. We are dedicated to delivering top-notch quality, ensuring your beloved feline companions receive the finest treats, toys, and essentials. Join our community of cat enthusiasts and indulge your pets in a life of comfort and joy. Elevate their experience with our carefully curated selection, where passion for cats meets unparalleled craftsmanship. Your cats deserve the best, and we're here to provide it. Welcome to a realm of quality cat care and subscriptions that celebrate the essence of feline living.</p>
        </div>

        <div id="map"></div> 
       
    </div>
<div class="location">
    <h2>Location: Sredec/Grudovo</h2>
    <p>Our first in person store opened during 2023 in the small town of Sredec.</p>
    <table>
        <thead>
        <tr>
            <th>Day</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Monday - Friday</td>
            <td>9:00 AM</td>
            <td>5:00 PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Closed</td>
            <td>Closed</td>
        </tr>
        </tbody>
    </table>
</div>
    <script>
        // Function to initialize the map
        function initMap() {
            // Specify the initial coordinates for Antarctica
            var initialCoordinates = { lat: 42.34475564539314, lng: 27.1831458975568 };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: initialCoordinates,
                zoom: 12 // You may adjust the zoom level as needed
            });

            // Add a marker to the map
            var marker = new google.maps.Marker({
                position: initialCoordinates,
                map: map,
            });

            // Add an info window to the marker
            var infowindow = new google.maps.InfoWindow({
                content: 'Welcome to Gruduu!'
            });

            // Open the info window when the marker is clicked
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>

    <!-- Include the Google Maps JavaScript API with your API key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASP4feiV7j5tAz1XOu28in-n7UIQmbJqY&callback=initMap" async></script>
</body>
</html>

