<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body class="body">
    <div>
        <div class="home-container" style="margin-top: 56px;">
            <div class="home-pricing">
                <div class="pricingContainer">
                    <div class="home-container01">
                        <span class="overline">
                            <br />
                        </span>
                        <h2 class="align-content-center">
                            Choose the Perfect Plan for Your Purrfect Companion
                        </h2>
                        <span class="home-pricing-sub-heading bodyLarge">
                            <span>
                                <span>
                                    Unlock a world of premium cat food options tailored to your
                                    feline friend&apos;s needs.
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="home-container02">
                        <div class="freePricingCard home-pricing-card">
                            <div>
                                <img src="https://media.istockphoto.com/id/1494242978/photo/cat-stands-on-its-hind-legs-with-its-front-paws-raised.jpg?s=2048x2048&w=is&k=20&c=w5Gy8V_-y26i2sk5RtOJVGJ_sZw1Vx0zdcy-KcdDnRU=" alt="Free Plan Image" class="card-image">
                                <h1 class="m-lg-2">Bone heath</h1>
                                <ul class="list-unstyled m-lg-3">
                                    <li>
                                        <p>Perfect for cat owners looking to try out our service</p>
                                    </li>
                                    <li>$ 25</li>
                                    <li>✔ Access to basic cat food recipes</li>
                                    <li>✔ Limited monthly cat food recommendations</li>
                                    <li>✔ Community forum access</li>
                                    <li>✔ Monthly newsletter</li>
                                </ul>
                            </div>
                            <button class="buyButton">
                                Buy Now
                            </button>
                        </div>
                        <div class="basicPricingCard home-pricing-card">
                            <div>
                                <img src="https://media.istockphoto.com/id/533399933/photo/suspicious-cat-portrait.jpg?s=2048x2048&w=is&k=20&c=YjMumnTft4JcOdi7nhC_GPtKTG8MfIuOagmrOTCRlCQ=" alt="Free Plan Image" class="card-image">
                                <h1 class="m-lg-2">Pretty fur</h1>
                                <ul class="list-unstyled m-lg-3">
                                    <li>
                                        <p>Perfect for cat owners looking to try out our service</p>
                                    </li>
                                    <li>$ 25</li>
                                    <li>✔ Access to basic cat food recipes</li>
                                    <li>✔ Limited monthly cat food recommendations</li>
                                    <li>✔ Community forum access</li>
                                    <li>✔ Monthly newsletter</li>
                                </ul>
                            </div>
                            <button class="buyButton">
                                Buy Now
                            </button>
                        </div>
                        <div class="proPricingCard home-pricing-card">
                            <div>
                                <img src="https://media.istockphoto.com/id/1127081649/photo/house-trained-cat-sitting-in-cat-toilet-or-litter-box.jpg?s=2048x2048&w=is&k=20&c=z7Smch2n2OicpZ5WBPy2rU6GnI3zJVfycAvA5zrXt4A=" alt="Free Plan Image" class="card-image">
                                <h1 class="m-lg-2">Peeing heath</h1>
                                <ul class="list-unstyled m-lg-3">
                                    <li>
                                        <p>Perfect for cat owners looking to try out our service</p>
                                    </li>
                                    <li>$ 25</li>
                                    <li>✔ Access to basic cat food recipes</li>
                                    <li>✔ Limited monthly cat food recommendations</li>
                                    <li>✔ Community forum access</li>
                                    <li>✔ Monthly newsletter</li>
                                </ul>
                            </div>
                            <button class="buyButton">
                                Buy Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
