body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    font-family: 'Brush Script MT', cursive;
}

h1 {
    background: wheat;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the total width/height */
    background: wheat;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 250px; /* Adjust as needed */
    width: 100%; /* Take full width on smaller screens */



    width: calc(30% - 2rem);
}

    .product-card:hover {
        transform: scale(1.05); /* Grow by 5% on hover */
    }

button.details-button {
    background-color: #910A67;
    color: wheat;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid orange;
}

.details-button:hover {
    background-color: orange;
    border: 2px solid #910A67;
    color: black;
}

.card-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h2 {
    font-size: 1.5rem;
}

.product-card p {
    font-size: 16px;
}

.filter {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    color: black;
}

.sort {
    background: white;
    color: gray;
    font-size: 18px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.filter button {
    background: #910A67;
    color: wheat;
    border: 2px solid orange;
    border-radius: 7px;
}

    .filter button:hover {
        background: orange;
        color: black;
        border: 2px solid #910A67;
    }

.popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #910A67;
    color: wheat;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

    .popup img {
        max-width: 60px;
        margin-right: 10px;
        border-radius: 5px;
    }

.pagination {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.page-link {
    background: #910a67;
    color: wheat;
    border: 2px solid orange;
    margin: 5px;
}

    .page-link:hover,
    .page-link:active,
    .page-item.active .page-link {
        background: orange;
        color: black;
        border: #910a67 2px solid;
    }


.page-item:first-child .page-link {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


@media screen and (max-width: 576px) {
    .sort {
        font-size: 14px; /* Adjust the font size for phones */
    }
}
/* Media query for tablets */
@media screen and (min-width: 577px) and (max-width: 1024px) {
    .sort {
        font-size: 16px; /* Adjust the font size for tablets */
    }
}

