@model IEnumerable<CatFoodSubscription.Web.ViewModels.Product.ProductAllViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Product/styles.css" />
    <title>Your Store</title>
</head>
<body>

<h1>Welcome to Your Store</h1>

<div id="productList">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <div class="image-container">
                <a href="#">
                    <img src="@product.ImageUrl" alt="@($"Product {product.Id} Image")" class="card-image">
                </a>
            </div>
            <h2>@product.Name</h2>
            <p>Price: $@product.Price</p>
            <!-- Update button to a link pointing to the Details action -->
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" class="button">Details</a>
        </div>
    }
</div>
</body>
</html>