.body {
    font-family: 'Brush Script MT', cursive;
    margin-top: 100px;
}

.list-group {
    margin-top: 10px;
}

.list-group-item {
    background: wheat
}

.group-element {
    margin-top: 10px;
}

.product-image {
    width: 100px;
    border-radius: 7px;
}

.search-bar {
    width: 500px;
    display: flex;
    margin-bottom: 1rem;
}

.search-box {
    margin-right: 10px;
}

.btn-change-status,
.btn-search {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}