.body {
    font-family: 'Brush Script MT', cursive;
    margin-top: 100px;
}

.card {
    background: wheat;
}

.text-danger {
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-content: center;
}