@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Admin/index.css" />
</head>
<body>
    <div class="admin-container mt-4 p-5 bg-light text-center">
        <h2 class="display-4">Hello, Admin!</h2>
        <hr class="my-4">
        <a asp-area="Admin" asp-controller="Home" asp-action="AllProducts" class="admin-button btn">All Products</a>
        <a asp-area="Admin" asp-controller="Home" asp-action="AddProduct" class="admin-button btn">Add Product</a>
        <a asp-area="Admin" asp-controller="Home" asp-action="AllOrders" class="admin-button btn">All Orders</a>
        <hr class="my-4">
        <div class="button-legend">
            <ul>
                <li>Button "All Products" - Shows all of the products, which have a button for edit and delete.</li>
                <hr/>
                <li>Button "Add Product" - Lets you add a new product to the store!</li>
                <hr/>
                <li>Button "All Orders" - Shows all of the orders and lets you look at the shipping info, price, and status manipulation.</li>
            </ul>
            <hr/>
        </div>
    </div>
</body>
</html>